<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/style.css">
	<style>
		.votingWidget{
			text-align: center;
		}
	</style>
</head>
<body ng-cloak>
	<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="NewEvent.html">Create Event</a></li>
			</ul>
		</div>
	</div>
		<div ng-controller="CacheSampleController">
			key: <input type="text" ng-model="key"/><br/>
			value: <input type="text" ng-model="value"/><br/>
			<button type="button" class="btn btn-default" ng-click="addToCache(key, value)">Add To Cache</button>
			<br/>
			<br/>
			<input type="text" ng-model="keyToRead"/><br/>
			<h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
			<h3>Cache Stats: {{getCacheStats()}}</h3>

		</div>
		
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
	<!-- <script src="js/angular-sanitize.js"></script> -->
	<script src="js/angular-resource.min.js"></script>
	<!-- <script src="js/angular-cookies.min.js"></script> -->
	<script src="app.js"></script>
	<script src="filter.js"></script>
	<script src="controller/EventController.js"></script>
	<script src="controller/CacheSampleController.js"></script>
	<script src="services/EventData.js"></script>
	<script src="js/script.js"></script>
</body>
</html>